﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testwebform.aspx.cs" Inherits="webformintro.testwebform" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div runat="server" id="mytestbox">
        </div>
    </form>
</body>
</html>
